/* app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem; /* Adjust this value based on the height of your navbar */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}