/* Container styling for the overall layout */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    margin: auto;
    max-width: 95%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  /* Styling for the table to make it more readable and elegant */
  /* TransactionList.css */
.transaction-table th {
    background-color: #000; /* Black background */
    color: #000000; /* White text color for contrast */
    font-size: 16px; /* Increased font size */
    font-weight: bold; /* Optional: makes header text bold */
  }
  
  
  .transaction-table th,
  .transaction-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  .transaction-table th {
    background-color: #f4f4f9;
    color: #333;
    font-weight: 600;
  }
  
  .transaction-table td {
    color: #666;
  }
  
  .transaction-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Styling for buttons */
  .transaction-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .transaction-button:hover {
    background-color: #004494;
  }
  
  .transaction-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .transaction-table th,
    .transaction-table td {
      padding: 8px 10px;
    }
  
    .transaction-button {
      padding: 8px 10px;
      font-size: 14px;
    }
  }
  